@font-face {
    font-family: 'New TXTT';
    src: url('https://cdn.rawgit.com/zhichu/newtxtt-otf/master/newtxtt-regular.eot');
    src: url('https://cdn.rawgit.com/zhichu/newtxtt-otf/master/newtxtt-regular.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/zhichu/newtxtt-otf/master/newtxtt-regular.woff2') format('woff2'),
         url('https://cdn.rawgit.com/zhichu/newtxtt-otf/master/newtxtt-regular.svg') format('svg');
    font-size: 8pt;
    font-weight: normal;
    font-style: normal;
    -moz-font-feature-settings:"ss04" 1;
    -ms-font-feature-settings:"ss04" 1;
    -o-font-feature-settings:"ss04" 1;
    -webkit-font-feature-settings:"ss04" 1;
    font-feature-settings:"ss04" 1;
}
